/*Stylesheet*/

@font-face {
  font-family: 'Mail Ray Stuff';
  src: url('fonts/mail_ray_stuff.eot'); /* IE9 Compat Modes */
  src: url('fonts/mail_ray_stuff.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/mail_ray_stuff.woff') format('woff'), /* Modern Browsers */
       url('fonts/mail_ray_stuff.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/mail_ray_stuff.svg#svgFontName') format('svg'); /* Legacy iOS */
}

BODY, HTML 
{
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;                  
	margin: 			0;
	padding: 			0;
    font-family: 'Mail Ray Stuff';
	font-size: 			12px;
	font-weight:		normal;
	color: 				#ccc;

    background-image: url('assets/art/tile.png');
}
